@model IEnumerable<LoaiVeSo>
@{
    ViewData["Title"] = "LoaiVeSo";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                QUẢN LÝ LOẠI VÉ SỐ
            </div>
            <div class="row w3-res-tb">
                <div class="col-sm-5 m-b-xs">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal">Thêm</button>
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-3">
                    <form asp-controller="LoaiVeSo" asp-action="Search" method="get">
                        <div class="input-group">
                            <input type="text" class="input-sm form-control" placeholder="Search" name="txtSearch">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" type="submit"><i class="fas fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Mã</th>
                            <th>Tỉnh</th>
                            <th>Tình trạng</th>
                            <th style="width:30px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="item-id">@item.Id</td>
                                <td class="item-ma">@item.MaLoaiVeSo</td>
                                <td class="item-tinh">@item.Tinh</td>
                                <td class="item-tinhtrang">@item.TinhTrang</td>
                                <td>
                                    <button type="button" class="btn btn-info btnEdit" data-toggle="modal" data-target="#editModal">Edit</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        
                    </div>
                    <div class="col-sm-7 text-right text-center-xs">
                        <ul class="pagination pagination-sm m-t-none m-b-none">
                            @if (ViewBag.TrangHienTai == 1)
                            {
                                <li><a><i class="fa fa-chevron-left"></i></a></li>
                            }
                            else
                            {
                                <li><a asp-controller="LoaiVeSo" asp-action="Index" asp-route-pagenumber="@Html.Raw(@ViewBag.TrangHienTai - 1)"><i class="fa fa-chevron-left"></i></a></li>
                            }
                            @for (int i = 1; i <= ViewBag.TongTrang; i++)
                            {
                                @if (i == ViewBag.TrangHienTai)
                                {
                                    <li><a><b>@i</b></a></li>
                                }
                                else
                                {
                                    <li><a asp-controller="LoaiVeSo" asp-action="Index" asp-route-pagenumber="@i">@i</a></li>
                                }
                            }
                            @if (ViewBag.TrangHienTai == ViewBag.TongTrang)
                            {
                                <li><a><i class="fa fa-chevron-right"></i></a></li>
                            }
                            else
                            {
                                <li><a asp-controller="LoaiVeSo" asp-action="Index" asp-route-pagenumber="@Html.Raw(@ViewBag.TrangHienTai + 1)"><i class="fa fa-chevron-right"></i></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</section>
<!-- Modal Thêm-->
<div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm</h4>
            </div>
            <form asp-controller="LoaiVeSo" asp-action="Add" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <label>Mã vé số:</label>
                        <input type="text" class="form-control" id="ma" name="ma">
                    </div>
                    <div class="form-group">
                        <label for="usr">Tỉnh:</label>
                        <input type="text" class="form-control" id="tinh" name="tinh">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info" value="Tạo">Tạo</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Sửa-->
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sửa</h4>
            </div>
            <form asp-controller="LoaiVeSo" asp-action="Edit" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <label>Mã vé số:</label>
                        <input type="text" class="form-control ma-edit" name="maedit" readonly>
                    </div>
                    <div class="form-group">
                        <label>Tỉnh:</label>
                        <input type="text" class="form-control tinh-edit" name="tinhedit">
                    </div>
                    <div class="form-group">
                        <label>Select list:</label>
                        <select class="form-control tinhtrang-edit" name="tinhtrangedit">
                            <option value="Không khoá">Không khoá</option>
                            <option value="Khoá">Khoá</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info" value="Sửa">Sửa</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Đưa data vào modal khi edit -->*<script>
    $(".btnEdit").click(function () {
        let ma = $(this).closest('tr').find('.item-ma').text();
        let tinh = $(this).closest('tr').find('.item-tinh').text();

        $(".ma-edit").val(ma.trim());
        $(".tinh-edit").val(tinh.trim());
    });
</script>

@if(ViewBag.ThongBao != null)
{
    <script>
        alert("@Html.Raw(ViewBag.ThongBao)");
    </script>
}