@model IEnumerable<CongNo>

<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Chi tiết công nợ của @ViewBag.DaiLy.Ten</h4>
        </div>
        <div class="modal-body panel-body" style="margin:auto">
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <thead>
                    <tr>
                        @*<th>Id</th>*@
                        <th>Mã công nợ</th>
                        @*<th>Tên đại lý</th>*@
                        <th>Ngày</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var item in Model)
                    {
                        <tr data-expanded="true">
                            @*<td class="">@item.Id</td>*@
                            <td class="">@item.MaCongNo</td>
                            @*<td class="">@item.IdDaiLyNavigation.Ten</td>*@
                            <td class="">@item.Ngay</td>
                            <td class=""> @item.TongTien</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
        </div>
    </div>
</div>