@model IEnumerable<DaiLy>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div>
                <!-- Dai ly -->

                <div class="panel-heading">
                    Đại lý
                </div> <!-- Tieu de-->

                <div class="panel-body">
                    <div class="col-lg-6">
                        <button class="btn btn-success" data-toggle="modal" data-target="#DaiLy"> Thêm </button>
                        <button class="btn btn-danger" data-toggle="collapse" data-target="#demo1"> Tìm kiếm nâng cao </button>
                    </div>

                    <div class="col-lg-6">
                        <form asp-controller="DaiLy" asp-action="Search" method="get">
                            <button type="submit" class="btn btn-info" style="float:right"> Tìm kiếm </button>
                            <div class="col-lg-8" style="float:right"> <input class="form-control" placeholder="Nội dung tìm kiếm" name="txtSearch" /> </div>
                        </form>
                    </div>
                </div>  <!-- Button -->
                <!-- collapse -->
                <div class="panel-body collapse" id="demo1">
                    <div class="form-group col-lg-6">
                        <label> Tên đại lý </label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label> Loại vé số </label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group col-lg-6">
                        <div><label> Đại chỉ</label></div>
                        <input class="form-control" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="tinhtrang"> Tình trạng </label>
                        <select class="form-control" id="tinhtrang">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button class="btn btn-success" style="float:right"> Tìm </button>
                            <button class="btn btn-default" style="float:right;margin-right:5px" data-toggle="collapse" data-target="#demo1"> Hủy </button>
                        </div>
                    </div>
                </div>

            </div> <!-- Tim kiem nang cao -->
            <!-- End collapse -->

            <div>
                <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Mã đại lý</th>
                            <th>Tên đại lý</th>
                            <th>Địa chỉ</th>
                            <th>Điện thoại</th>
                            <th>Tình trạng</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-expanded="true">
                                <td class="iddaily">@item.Id</td>
                                <td class="madaily">@item.MaDaiLy</td>
                                <td class="tendaily">@item.Ten</td>
                                <td class="diachidaily">@item.DiaChi</td>
                                <td class="dienthoaidaily">@item.DienThoai</td>
                                <td>@item.TinhTrang</td>
                                <td><button class="btn btn-warning btnSuaDaiLy" data-toggle="modal" data-target="#suaDaiLy"> Sửa </button></td>
                                <td><button class="btn btn-primary btnThongTin" data-toggle="modal" data-target="#informationModal"> Thông tin đăng ký </button></td>
                                <td><button class="btn btn-success btnThemDangKy" data-toggle="modal" data-target="#DangKy"> Thêm đăng ký </button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>  <!-- Bang -->

            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        
                    </div>
                    <div class="col-sm-7 text-right text-center-xs">
                        <ul class="pagination pagination-sm m-t-none m-b-none">
                            @if (ViewBag.TrangHienTai == 1)
                            {
                                <li><a><i class="fa fa-chevron-left"></i></a></li>
                            }
                            else
                            {
                                <li><a asp-controller="DaiLy" asp-action="Index" asp-route-pagenumber="@Html.Raw(@ViewBag.TrangHienTai - 1)"><i class="fa fa-chevron-left"></i></a></li>
                            }
                            @for (int i = 1; i <= ViewBag.TongTrang; i++)
                            {
                                @if (i == ViewBag.TrangHienTai)
                                {
                                    <li><a><b>@i</b></a></li>
                                }
                                else
                                {
                                    <li><a asp-controller="DaiLy" asp-action="Index" asp-route-pagenumber="@i">@i</a></li>
                                }
                            }
                            @if (ViewBag.TrangHienTai == ViewBag.TongTrang)
                            {
                                <li><a><i class="fa fa-chevron-right"></i></a></li>
                            }
                            else
                            {
                                <li><a asp-controller="DaiLy" asp-action="Index" asp-route-pagenumber="@Html.Raw(@ViewBag.TrangHienTai + 1)"><i class="fa fa-chevron-right"></i></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </footer> <!-- Phan trang -->
            <!-- End DaiLy -->
        </div>
        @*<div>
                <!-- Dang ky -->
                <div class="panel-heading">
                    Đăng ký
                </div> <!-- Tieu de-->

                <div class="panel-body">
                    <div class="col-lg-6">
                        <button class="btn btn-danger" data-toggle="collapse" data-target="#demo"> Tìm kiếm nâng cao </button>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-info" style="float:right"> Tìm kiếm </button>
                        <div class="col-lg-8" style="float:right"> <input class="form-control" placeholder="Nội dung tìm kiếm" /> </div>
                    </div>
                </div> <!-- Button -->
                <!-- collapse -->
                <div class="panel-body collapse" id="demo">
                    <div class="form-group col-lg-6">
                        <label> Tên đại lý </label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label> Loại vé số </label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group col-lg-6">
                        <div><label> Ngày đăng ký</label></div>
                        <div class="col-lg-1" style="margin-top:5px"> Từ </div>
                        <div class="col-lg-5"> <input type="date" class="form-control" /> </div>
                        <div class="col-lg-1" style="margin-top:5px"> Đến </div>
                        <div class="col-lg-5"> <input type="date" class="form-control" /> </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label> Tên đại lý </label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button class="btn btn-success" style="float:right"> Tìm </button>
                            <button class="btn btn-default" style="float:right;margin-right:5px" data-toggle="collapse" data-target="#demo"> Hủy </button>
                        </div>
                    </div>
                </div> <!-- Tim kiem nang cao -->
                <!-- End collapse -->
            </div>*@
    </div>
</section>

<div class="modal fade" id="DaiLy" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal DaiLy content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm đại lý</h4>
            </div>
            <form class="form-horizontal" asp-action="CreateDaiLy" asp-controller="DaiLy" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-lg-2 control-label"> Mã đại lý </label>
                        <div class="col-lg-9"> <input class="form-control" name="macreate" required /> </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label"> Tên đại lý </label>
                        <div class="col-lg-9"> <input class="form-control" name="tencreate" /> </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label"> Địa chỉ </label>
                        <div class="col-lg-9"> <input class="form-control" name="diachicreate" /> </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label"> Số điện thoại </label>
                        <div class="col-lg-9"> <input class="form-control" type="tel" name="dienthoaicreate" /> </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-success">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div> <!-- Đại lý -->
<!-- Modal thông tin đăng ký-->
<div class="modal fade" id="informationModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông tin</h4>
            </div>
            <div class="modal-body" id="modal-thongtin">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal sửa thông tin đại lý -->
<div class="modal fade" id="suaDaiLy" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sửa</h4>
            </div>
            <form asp-controller="DaiLy" asp-action="EditDaiLy" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã đại lý:</label>
                        <input type="text" class="form-control maedit" name="maedit" readonly>
                    </div>
                    <div class="form-group">
                        <label>Tên:</label>
                        <input type="text" class="form-control tenedit" name="tenedit">
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ:</label>
                        <input type="text" class="form-control diachiedit" name="diachiedit">
                    </div>
                    <div class="form-group">
                        <label>Điện thoại:</label>
                        <input type="number" class="form-control dienthoaiedit" name="dienthoaiedit">
                    </div>
                    <div class="form-group">
                        <label>Tình trạng:</label>
                        <select class="form-control tinhtrang-edit" name="tinhtrangedit">
                            <option value="Không khoá">Không khoá</option>
                            <option value="Khoá">Khoá</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info" value="Sửa">Sửa</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="DangKy" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal DaiLy content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm đăng ký</h4>
            </div>
            <form class="form-horizontal" asp-controller="DaiLy" asp-action="CreateDangKy" method="post">
                <div class="modal-body" id="modal-themdangky">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-success">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div> <!-- Đăng ký -->

@section Scripts{
    <script>
        $(function () {
            $(".btnThongTin").click(function () {
                let ma = $(this).closest('tr').find('.iddaily').text();
                $.ajax({
                    url: "/DaiLy/ThongTin",
                    type: "get",
                    data: { "iddaily": ma },
                    success: function (data) {
                        $("#modal-thongtin").html(data);
                    },
                    error: function (data) {
                        alert("Error: " + data);
                    }
                });
            });

            $(".btnSuaDaiLy").click(function () {
                let ma = $(this).closest('tr').find('.madaily').text();
                let ten = $(this).closest('tr').find('.tendaily').text();
                let diachi = $(this).closest('tr').find('.diachidaily').text();
                let dienthoai = $(this).closest('tr').find('.dienthoaidaily').text();

                $(".maedit").val(ma);
                $(".tenedit").val(ten);
                $(".diachiedit").val(diachi);
                $(".dienthoaiedit").val(dienthoai);
            });

            $(".btnThemDangKy").click(function () {
                let ma = $(this).closest('tr').find('.madaily').text();
                $.ajax({
                    url: "/DaiLy/ThongTinDangKy",
                    type: "post",
                    data: { "ma": ma },
                    success: function (data) {
                        $("#modal-themdangky").html(data);
                    },
                    error: function (data) {
                        alert("Error: " + data);
                    }
                });
            });
        });
    </script>
}

@if (ViewBag.ThongBao != null)
{
    <script>
        alert("@Html.Raw(ViewBag.ThongBao)");
    </script>
}