@model IEnumerable<Giai>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Giải thưởng
            </div> <!-- Tieu de-->
            <div class="panel-body">
                <button class="btn btn-success" data-toggle="modal" data-target="#themgiaithuong"> Thêm giải thưởng </button>
                <button class="btn btn-warning" data-toggle="modal" data-target="#themdotketqua"> Thêm đợt kết quả </button>
                <button class="btn btn-info" style="float:right"> Tìm kiếm </button>
                <div class="col-lg-4" style="float:right"> <input type="search" id="myInput" class="form-control" placeholder="Nội dung tìm" /> </div>
            </div>

            <!-- modal giai thuong -->

            <div id="themgiaithuong" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Thêm giải thưởng</h4>
                        </div>
                        <form asp-action="CreateGiai" asp-controller="Giai" method="post">
                            <div class="modal-body" style="margin:auto">
                                <div class="form-group">
                                    <label class="control-label"> Mã giải </label>
                                    <input type="text" class="form-control" name="macreate" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Tên giải </label>
                                    <input type="text" class="form-control" name="tencreate" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Số lượng </label>
                                    <input type="number" class="form-control" min="0" name="soluongcreate" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Giải thưởng </label>
                                    <input type="number" class="form-control" min="0" name="giaithuongcreate" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-success">Thêm</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <!--end modal-->
            <!-- modal themdotketqua -->

            <div id="themdotketqua" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Thêm đợt kết quả</h4>
                        </div>
                        <form id="createKQXS">
                            <div class="modal-body panel-body" style="margin:auto">
                                <div class="form-group col-lg-6">
                                    <label>Ngày kết quả</label>
                                    <input class="form-control" value=@DateTime.Now readonly />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Tỉnh</label>
                                    <select class="form-control" id="sel1">
                                        @foreach (var item in ViewBag.LoaiVeSo)
                                        {
                                            <option value="@item.Id">@item.Tinh</option>
                                        }
                                    </select>
                                </div>
                                <div class="panel-body">
                                    <h3 style="text-align:center; padding-bottom:2% ;border-bottom:solid #f2f2f2 1px"> Bảng kết quả </h3>
                                    <table class="table tbmodal">
                                        <thead style="text-align:center">
                                            <tr>
                                                <th class="col-lg-2">Tên giải</th>
                                                <th>Số trúng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <th>@item.TenGiai</th>

                                                    @{
                                                        float t = (float)item.SoLuong;
                                                        float t2 = 100 / t;
                                                        var kq = t2 + "%";
                                                    }
                                                    <th>
                                                        @for (int i = 0; i < item.SoLuong; ++i)
                                                        {
                                                            <div style="float:left;width:@kq" class="divCreateKQXS">
                                                                <input style="text-align:center;background-color:#adad85;width:100%;border:solid white 2px;color:white" type="number" />
                                                            </div>
                                                        }
                                                    </th>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-success btnCreateKQXS">Thêm</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <!--end modal-->
            <!--table-->
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#giaithuong">Bảng giải thưởng</a></li>
                <li><a data-toggle="tab" href="#ketqua">Bảng kết quả</a></li>
            </ul>
            <div class="tab-content">
                <div id="giaithuong" class="tab-pane fade in active">
                    <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                        <thead>
                            <tr>
                                <th>Mã giải</th>
                                <th>Tên giải</th>
                                <th>Số lượng</th>
                                <th>Giải thưởng</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            @foreach (var item in Model)
                            {
                                <tr data-expanded="true">
                                    <td class="magiai">@item.MaGiai</td>
                                    <td class="tengiai">@item.TenGiai</td>
                                    <td class="soluong">@item.SoLuong</td>
                                    <td class="giaithuong">@item.GiaiThuong</td>
                                    <td>
                                        <button class="btn btn-warning btnSuaChiTietGiai" data-toggle="modal" data-target="#suagiaithuong"> Sửa </button>
                                        <button class="btn btn-danger btnChiTietGiai" data-toggle="modal" data-target="#chitietgiaithuong"> Chi tiết </button>
                                    </td>
                                </tr>

                            }
                        </tbody>

                    </table>
                </div>
                <div id="ketqua" class="tab-pane fade">
                    <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                        <thead>
                            <tr>
                                <th>Tỉnh</th>
                                <th>Ngày xổ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            @foreach(dynamic item in ViewBag.KetQuaChung)
                            {
                                <tr data-expanded="true">
                                    @*<td class="">@item.GetType().GetProperty("OcCho").GetValue(@item, null)</td>*@
                                    <td class="">@item.IdLoaiVeSoNavigation.Tinh</td>
                                    <td class="">@item.Ngay</td>
                                    <td>
                                        <button class="btn btn-warning btnSuaDaiLy" data-toggle="modal" data-target="#suaketqua"> Sửa </button>
                                        <button class="btn btn-danger btnChiTietGiai" data-toggle="modal" data-target="#chitietketqua"> Chi tiết </button>
                                    </td>
                                </tr>   
                            }
                        </tbody>

                    </table>

                </div>

            </div>

            <!-- modal suagiaithuong -->

            <div id="suagiaithuong" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Sửa giải thưởng</h4>
                        </div>
                        <form asp-action="EditGiai" asp-controller="Giai" method="post">
                            <div class="modal-body" style="margin:auto">
                                <div class="form-group">
                                    <label class="control-label"> Id giải </label>
                                    <input type="text" class="form-control maedit" name="maedit" readonly />
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Tên giải </label>
                                    <input type="text" class="form-control tenedit" name="tenedit" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Số lượng </label>
                                    <input type="number" class="form-control soluongedit" name="soluongedit" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Giải thưởng </label>
                                    <input type="number" class="form-control giaithuongedit" name="giaithuongedit" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-warning" >Sửa</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <!-- end modal -->
            <!-- modal chitietketqua -->

            <div id="chitietketqua" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Chi tiết kết quả</h4>
                        </div>
                        <div class="modal-body panel-body" style="margin:auto">
                            <form class="panel-body">
                                <div class="form-group col-lg-6">
                                    <label>ID</label>
                                    <input class="form-control" value="ID" readonly />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Mã kết quả</label>
                                    <input class="form-control" value="Mã kết quả" readonly />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Ngày kết quả</label>
                                    <input class="form-control" value=@DateTime.Now readonly />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Tỉnh</label>
                                    <input class="form-control" value="Tỉnh" readonly />
                                </div>
                            </form>
                            <div class="panel-body">
                                <h3 style="text-align:center; padding-bottom:2% ;border-bottom:solid #f2f2f2 1px"> Bảng kết quả </h3>
                                <table class="table tbmodal">
                                    <thead style="text-align:center">
                                        <tr>
                                            <th class="col-lg-2">Tên giải</th>
                                            <th>Số trúng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <th>@item.TenGiai</th>

                                                @{
                                                    float t = (float)item.SoLuong;
                                                    float t2 = 100 / t;
                                                    var kq = t2 + "%";
                                                }
                                                <th>
                                                    @for (int i = 0; i < item.SoLuong; ++i)
                                                    {
                                                        <div style="float:left;width:@kq"> <input style="text-align:center;background-color:#adad85;width:100%;border:solid white 2px;color:white" value="000000" type="number" readonly /> </div>
                                                    }
                                                </th>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- end modal -->
            <!-- modal chitietgiaithuong -->

            <div id="chitietgiaithuong" class="modal fade" role="dialog">
                
            </div>

            <!--end modal-->

        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $(".btnChiTietGiai").click(function () {
        let ma = $(this).closest('tr').find('.magiai').text();
        $.ajax({
            url: "/Giai/ThongTinGiai",
            type: "get",
            data: { "ma": ma },
            success: function (data) {
                $("#chitietgiaithuong").html(data);
            },
            error: function (data) {
                alert("Error: " + data);
            }
        });
    });

    $(".btnSuaChiTietGiai").click(function () {
        let ma = $(this).closest('tr').find('.magiai').text();
        let ten = $(this).closest('tr').find('.tengiai').text();
        let soluong = $(this).closest('tr').find('.soluong').text();
        let giaithuong = $(this).closest('tr').find('.giaithuong').text();

        $(".maedit").val(ma);
        $(".tenedit").val(ten);
        $(".soluongedit").val(soluong);
        $(".giaithuongedit").val(giaithuong);
    });

    $(".btnCreateKQXS").click(function () {
        $(".divCreateKQXS").children().each(function () {
            let nodeName = this.nodeName.toLowerCase();
            if (nodeName == "input" && $(this).attr('type') == "number")
                alert($(this).val());
        });
    });
</script>
<style>
    .tbmodal th {
        text-align: center;
    }
</style>

@if (ViewBag.ThongBao != null)
{
    <script>
        alert("@Html.Raw(ViewBag.ThongBao)");
    </script>
}