@model IEnumerable<PhanPhoi>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Phân phối
            </div>

            <div class="panel">
                <div style="height:50px;background-color:#f9f9f9;padding-top:10px">
                    <div class="col-lg-6" style="float:left">
                        <form asp-controller="PhanPhoi" asp-action="CapNhat" method="post">
                            <button type="submit" class="btn btn-md btn-primary btn-success" style="float:left">Cập nhật</button>
                        </form>
                        <button type="submit" class="btn btn-md btn-primary btn-danger" style="float:left;margin-left:2px" data-toggle="collapse" data-target="#demo">Tìm kiếm nâng cao</button>
                    </div>
                    <div class="col-lg-6" style="float:right">
                        <form asp-controller="PhanPhoi" asp-action="Search" method="get">
                            <button type="submit" class="btn btn-md btn-primary btn-primary" style="float:right">Tìm kiếm</button>
                            <input type="text" placeholder="Nội dung tìm kiếm" class="form-control" style="float:right;width:50%" name="txtSearch" />
                        </form>
                    </div>
                </div>


                <!-- Colapse tim kiem -->
                <form asp-controller="PhanPhoi" asp-action="AdvancedSearch" method="get">
                    <div id="demo" class="collapse">
                        <div class="col-lg-6" style="float:left">
                            <label>ID</label>
                            <input type="text" class="form-control" id="id" name="id_search">
                        </div>
                        <div class="col-lg-6" style="float:right">
                            <label>Tên đại lý</label>
                            <input type="text" class="form-control" id="tendaily" name="daily_search">
                        </div>
                        <div class="col-lg-6" style="float:left">
                            <label>Loại vé số</label>
                            <input type="text" class="form-control" id="loaiveso" name="veso_search">
                        </div>
                        <div class="col-lg-3" style="float:right">
                            <label>Số lượng giao</label>
                            <input type="number" class="form-control" id="slgiao" name="slgiao_search" />
                        </div>
                        <div class="col-lg-3" style="float:right">
                            <label>Số lượng bán</label>
                            <input type="number" class="form-control" id="slban" name="slban_search" />
                        </div>
                        <div class="col-lg-6" style="float:left">
                            <label>Từ Ngày</label>
                            <input type="date" class="form-control" id="ngaybd" name="ngaybd_search">
                        </div>
                        <div class="col-lg-6" style="float:right">
                            <label>Đến ngày</label>
                            <input type="date" class="form-control" id="ngaykt" name="ngaykt_search">
                        </div>
                        <div class="col-lg-2" style="float:right">
                            <button type="button" class="btn btn-md btn-primary btn-default" style="margin:5px" data-toggle="collapse" data-target="#demo">Hủy</button>
                            <button type="submit" class="btn btn-md btn-primary btn-primary" style="margin:5px">Tìm</button>
                        </div>
                    </div>
                </form>
                <!-- end Colapse -->


            </div>
            <div>
                <!-- table -->

                <table class="table table-striped" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên Đại Lý</th>
                            <th>Loại Vé số</th>
                            <th>Ngày phân phối</th>
                            <th>Số lượng giao</th>
                            <th>Số lượng bán</th>
                            <th>Tỉ lệ</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-expanded="true">
                                <td class="item-id">@item.Id</td>
                                <td>@item.IdDaiLyNavigation.Ten</td>
                                <td>@item.IdLoaiVeSoNavigation.Tinh</td>
                                <td>@item.Ngay.Value.ToShortDateString()</td>
                                <td class="item-slg">@item.SoLuongGiao</td>
                                <td class="item-slb">@item.SoLuongBan</td>
                                <td class="item-tile">@item.TiLe</td>
                                <td><button type="submit" class="btn btn-md btn-primary btn-warning btnSua" data-toggle="modal" data-target="#editModal">Sửa</button></td>
                            </tr>
                        }
                    </tbody>
                </table>

                <!-- end table  -->
            </div>

            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
                    </div>
                    <div class="col-sm-7 text-right text-center-xs">
                        <ul class="pagination pagination-sm m-t-none m-b-none">
                            <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</section>
<!-- Modal Sửa-->
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sửa</h4>
            </div>
            <form asp-controller="PhanPhoi" asp-action="Edit" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Id:</label>
                        <input type="text" class="form-control id-edit" name="idedit" readonly>
                    </div>
                    <div class="form-group">
                        <label>Số lượng giao:</label>
                        <input type="number" class="form-control slg-edit" name="slgedit" min="0">
                    </div>
                    <div class="form-group">
                        <label>Số lượng bán:</label>
                        <input type="text" class="form-control slb-edit" name="slbedit" onkeypress="return isNumberKey(event)">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info btnSuaModal" value="Sửa">Sửa</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    $(".btnSua").click(function () {
        let id = $(this).closest('tr').find('.item-id').text();
        let slg = $(this).closest('tr').find('.item-slg').text();
        let slb = $(this).closest('tr').find('.item-slb').text();
        let tile = $(this).closest('tr').find('.item-tile').text();

        $(".id-edit").val(id.trim());
        $(".slg-edit").val(parseInt(slg));
        $(".slb-edit").val(slb.trim());

        if (tile != "") {
            $(".id-edit").attr('readonly', true);
            $(".slg-edit").attr('readonly', true);
            $(".slb-edit").attr('readonly', true);
            $(".btnSuaModal").prop("disabled", true);
        }
        else {
            $(".id-edit").attr('readonly', false);
            $(".slg-edit").attr('readonly', false);
            $(".slb-edit").attr('readonly', false);
            $(".btnSuaModal").prop("disabled", false);
        }
    });
</script>

@if (ViewBag.ThongBao != null)
{
    <script>
        alert("@Html.Raw(ViewBag.ThongBao)");
    </script>
}